// ------------------------------------------------------------
//    Brand Colors
// ------------------------------------------------------------
$honeycomb: #e9ba26;
$clementine: #f0812b;
$slushie: #5fb8dd;
$frosting: #ea0b86;
$aloe: #50886b;
$berry: #508395;
$wasabi: #9eae3d;
$grape: #92278f;
$spice: #eb3f3c;
$wine: #832e2f;
$whale: #262626;
$prince: #544aa1;
$purple: #544aa1;
$linkColor: #0088cc;

/* The greys */
$silvertone: #d9d9d9;
$slate: #555555;
$medGrey: #909090;
$mutedText: #aaaaaa;

/* Borders */
$borderLightGrey: #dddddd;
$borderLighttestGrey: #e1e1e1;

/* Social Media */
$pinterest_red: #cc2127;
$facebook_blue: #3b5998;
$twitter_blue: #55acee;
$linkedin_blue: #0976b4;